/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $light-blue;
	border-color: $blue;
	color: #fff;
	font-weight: bold;
	padding: 7px 10px;
	border-radius: 3px;
	transition: background-color .3s;
	font-family: $sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

button:hover {
	background-color: $darkest-blue;
	border-color: $darkest-blue;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}

a:hover {
	text-decoration: underline;
}
