<h1>Sign up for Music App!</h1>

<%= error_messages @user %>

<form action="<%= users_path %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_email">Email:</label>
  <input type="text" name="user[email]" id="user_email">
  <br>

  <label for="user_password">Password:</label>
  <input type="password" name="user[password]" id="user_password">
  <br>

  <input type="submit" value="Sign up">
</form>
