<h1><%= @user.email %>'s Profile</h1>
<p>Signed up <%= time_ago_in_words(@user.created_at) %> ago</p>

<h2><%= @user.email %>'s Goals:</h2>
<% @goals.each do |goal| %>
  <%= link_to goal.title, goal_path(goal) %> 
<% end %>
