// Use the gear_dropdown.png screenshot as a style guide

.gear-dropdown {
	position: absolute;
	width: 247px;
	right: 8px;
	top: 31px;
	background: #fff;
	border: 1px solid $light-gray;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 16px 10px;
	z-index: 1;
	font-family: $sans-serif;
	box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.editions {
	text-transform: uppercase;
	border-bottom: 1px solid $light-gray;
	font-size: 14px;
	margin-bottom: 8px;
	color: $dark-gray;
}

.editions a {
	display: block;
	padding: 4px 5px;
}

.editions a:hover {
	background: $light-gray;
	color: black;
	border-radius: 3px;
}

.editions a:hover {
	text-decoration: none;
}

.editions li:first-of-type {
	margin-top: 9px;
}

.editions li:last-of-type {
	margin-bottom: 5px;
}

.editions li {
	margin-top: 5px;
}

.dropdown-subtitle {
	text-transform: uppercase;
	color: $dark-gray;
	font-weight: bold;
	font-size: 11px;
	margin-left: 5px;
}

.help li {
	font-size: 14px;
	margin-top: 14px;
	margin-left: 5px;
}

.help a {
	display: block;
	color: $light-blue;
}
