.search-modal {
	max-height: 0;
	position: relative;
	width: 100vw;
	left: calc(-50vw + 50%);
	text-align: center;
	overflow: hidden;
}

.search-modal.expand {
	max-height: 300px;
}

.search-modal .input-wrapper {
	width: 64%;
	margin: 25px auto;
}

.search-modal input {
	background-color: #fff;
	border: 1px solid $light-gray;
	border-radius: 3px;
	font-family: $serif;
}

.search-modal button {
	background-color: #fff;
	border: 1px solid $light-gray;
	margin-left: 10px;
	color: $gray;
	border-radius: 4px;
}
