/* Introduction to Cascading Style Sheets */

body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
	width: 900px;
	margin: 0 auto;
}

section#recipe-body {
	display: inline-block;
	width: 700px;
}

aside {
	display: inline-block;
	width: 180px;
	vertical-align: top;
	margin-right: 20px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered Lsit element */
ul li a, figcaption a {
  text-decoration: none;
  color: inherit;
}

/* This selector selects only IMMEDIATE (1 level deep) image element children
of the header element */
header > img {
  width: 100px;
}

/* Selects all elements with the class attribute "ingredients-list" */
.ingredients-list {

  /* The list style property is shorthand for multiple list-style properties*/
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

#review-form label {
	display: block;
}

textarea#review {
	display:block;
	width: 600px;
}

label[for=expertise] {
	margin-bottom: 15px;
}

input#name {
	margin-bottom: 15px;
	width: 600px;
}

select#expertise {
	margin-bottom: 15px;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(../assets/stars.png);
    vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}


input:last-child {
    background: gold;
		display: inline-block;
		padding: 10px 20px;
		margin-top: 15px;
		border: 2px solid #e4c102;
}

input:last-child:hover {
    -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
}

h2 + .user_review {
    border-top: 1px solid black;
}

header img {
	vertical-align: middle;
}

nav {
	display: inline-block;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: block;
	padding: 20px;
}

ul.ingredients-list li {
	margin: 15px 0;
}

ol.directions-list li {
	margin: 15px 0;
}
