/* Introduction to Cascading Style Sheets */

body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered List element */
ul li a {
  text-decoration: none;
  color: inherit;
}

/* This selector selects all image elements that are children (1 level deep)
of a header element */
header > img {
  width: 100px;
}

/* Selects all elements with the class attribute "ingredients-list" */
.ingredients-list {

  /* The list style property is shorthand for multiple list-style properties*/
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

input[type="radio"], input[type="submit"], select {
	cursor: pointer;
	outline: none;
}

input[type="radio"] {
	-webkit-appearance: none;
	vertical-align: bottom;
	background-image: url("stars.png");
	height: 30px;
	width: 30px;
}

input[type="radio"]:hover {
	background-position: 0px 60px;
}

input[type="radio"]:checked {
	background-position: 0px 30px;
}

input[type="submit"]:last-child {
	background-color: gold;
}

input[type="submit"]:last-child:hover {
	-webkit-filter: brightness(90%);
}

ol li:nth-child(2n) {
	background-color: whitesmoke;
}

h2 + div.user_review {
	border-top: 1px solid #000;
}
