<h1>All The Cats</h1>

<ul>
  <% @cats.all.each do |cat| %>
    <li>
      <a href="<%= cat_url(cat) %>"><%= cat.name %></a>
      <form action="<%= cat_url(cat) %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
    </li>
  <% end %>
</ul>

<a href="<%= new_cat_url %>">New Cat</a>
