<h1>Create a new cat</h1>

<form action="/cats" method="POST">
  <label for="cat_name">Name</label>
  <input type="text"
         name="cat[name]" 
         id="cat_name" 
         value="<%= @cat.name %>">
  <br />

  <label for="cat_skill">Skill</label>
  <input type="text"
         name="cat[skill]" 
         id="cat_skill" 
         value="<%= @cat.skill %>">
  <br />

  <input type="submit" value="Create Cat">
</form>
