<h1>Create a new sub</h1>

<form action="<%= subs_path %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="sub_title">Title</label>
  <input type="text" name="sub[title]" id="sub_title" value="<%= @sub.title %>">
  <br>

  <label for="sub_description">Description</label>
  <textarea name="sub[description]" id="sub_description" value="<%= @sub.description %>"></textarea>
  <br>

  <input type="submit" value="Create sub">
</form>
