/* PHASE 2: Navigation */

.header-logo {
	float: left;
	font-weight: bold;
	border-right: 1px solid #ccc;
}

.header-logo:hover {
	background-color: #000;
	transition: background-color .5s;
}

.header-list {
	float: right;
}

.header-list > li {
	float: left;
	border-left: 1px solid #ccc;
}

.header-list > li:hover {
	background-color: #000;
	transition: background-color .5s;
}
