<div class="cf">
  <div class="col col-1-6">
    <p>
    Launching the New React/Redux Curriculum
    By APP ACADEMY INSTRUCTIONAL TEAM

    It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.

    The whole state of your app is stored in an object tree inside a single store.
    The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.

    1738 Comments
    </p>
  </div>

  <div class="col col-1-2">
    <iframe width="100%" height="315px" src="https://www.youtube.com/embed/0SSYzl9fXOQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Warning: This video will make you want to change your career</p>
  </div>
  <div class="col col-1-3">The Opinion Pages</div>
  <div class="col col-1-6">
    <p>
    Op-Ed Contributor
    Will Javascript ever be as easy as Ruby?
    Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.

    Torvalds: When I Was Almost Wrong
    Knuth: Art of Programming
    Lovelace: The First Algorithm
    Hopper: The First Bug
    Thompson: Go C Unix
    Carmack: My Virtual Reality
    Stallman: Free Speech Not Free Coffee
    </p></div>
    <div class="col col-1-6">
      <p>
      Operations
      App Academy New York Has A Brand New Office
      By NY OPERATIONS

      The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.

      Opinion Today, in your Inbox
      Each weekday, get though-provoking commentary from our columnists and contributors.

      Sign Up

      We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.

      </p></div>
</div>
