<nav id="sections-sidebar" class="sections-sidebar">
  <ul>
    <li><a href="#">World</a></li>
    <li>
      <a href="#">San Francisco</a>
      <section class="dropdown">
        <ul>
          <li>Students</li>
          <li>Teaching Assistants</li>
          <li>Instructors</li>
          <li>Career Advisors</li>
          <li>Cats</li>
        </ul>
      </section>
    </li>
    <li><a href="#">New York</a></li>
    <li><a href="#">Bootcamp Prep</a></li>
    <li><a href="#">Jumpstart</a></li>
    <li><a href="#">Online</a></li>
    <li><a href="#">Marketing</a></li>
    <li><a href="#">Sales</a></li>
    <li><a href="#">TalentMatch</a></li>
    <li><a href="#">Alumni</a></li>
  </ul>
</nav>
