<nav class="sections-nav">
  <ul>
    <li><a href="#">World</a></li>
    <li><a href="#">San Francisco</a></li>
    <li><a href="#">New York</a></li>
    <li><a href="#">Bootcamp Prep</a></li>
    <li><a href="#">Jumpstart</a></li>
    <li><a href="#">Online</a></li>
    <li><a href="#">Marketing</a></li>
    <li><a href="#">Sales</a></li>
    <li><a href="#">TalentMatch</a></li>
    <li><a href="#">Alumni</a></li>
    <li><a href="#" class="all">All</a></li>
  </ul>
</nav>
