<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 99cats, <%= @user.username %></h1>
    <p>You're the newest member of 99cats, thanks for joining.</p>
    <p>To login, go here: <%= @url %>.</p>
  </body>
</html>
