<h2><%= @track.title %></h2>

<p><strong>Lyrics:</strong></p>
<%= @track.lyrics %>

<div style="margin: 20px 0;">
  <%= link_to "Edit track", edit_track_path(@track), class: "button" %>
  <%= link_to "Delete track", track_path(@track), method: :delete, class: "button" %>
</div>
