/* PHASE 2: Notifications */

.badge {
	display: inline-block;
	background-color: #000;
	border-radius: 50%;
	font-size: 14px;
	padding: 1px 6px;
}

.header-list li:first-of-type:hover .badge {
	background-color: #f00;
}

.header-list li:first-of-type {
	position: relative;
}

.notification-list {
	display: none;
	position: absolute;
	left: -1px;
	box-sizing: border-box;
	width: 240px;
	background: #fff;
	color: #000;
	border: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.notification-list li {
	border-bottom: 1px solid #ccc;
	padding: 12px 20px;
	font-size: 14px;
}

.notification-list li:hover {
	cursor: pointer;
	background-color: #eee;
}

.notification-list li:last-of-type {
	border-bottom: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.header-list li:first-of-type:hover .notification-list {
	display: block;
}

