<form action="<%= users_url %>" method="POST">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<label for="user_username">Username</label>
<input type="text" id="user_username" name="user[user_name]">
<br>

<label for="user_password">Password</label>
<input type="password" id="user_password" name="user[password]">
<br>

<input type="submit" value="Submit">
</form>

<% content_for :footer do %>
<p>Signup here!</p>
<% end %>